/* ===== AVISO DE COOKIES ===== */
#cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999999;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caja del aviso */
#cookie-box {
  background-color: #171d25; /* estilo Steam */
  color: #ffffff;

  padding: 2rem;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;

  box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

#cookie-box h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

#cookie-box p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

#cookie-box button {
  background-color: #66c0f4;
  border: none;
  color: #000;
  font-weight: 700;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border-radius: 6px;
}

#cookie-box button:hover {
  background-color: #4fa3d1;
}
