/* PARA GUIA.HTML /*


/* ===== ESTILO GENERAL ===== */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b0b0d;
  color: #ffffff;
  overflow-x: hidden;
}

/* ===== NAVBAR ===== */
.navbar {
  background-color: #001913 !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}
.navbar-brand img {
  height: clamp(40px,5vw,70px);
  object-fit: contain;
  transition: height 0.3s ease;
}
.nav-link, .navbar-brand {
  color: #ffffff !important;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: .4rem;
  transition: color 0.3s ease;
}
.nav-link:hover, .navbar-brand:hover { color: #7a0e12 !important; }
.nav-link.active, .nav-link.active i { color: #b30d1f !important; }
.nav-link i { color: inherit; transition: color 0.3s ease; }
.navbar-toggler { border: none; }
.navbar-toggler-icon {
  width: 1.8rem; height: 1.8rem;
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.9)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.btn-warning {
  background-color: #ae3504 !important;
  color: #ffffff !important;
  border: none !important;
  font-weight: 700;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 0.4rem 1rem;
}
.btn-warning:hover { background-color: #8c2603 !important; }

/* ===== INTRODUCCIÓN ===== */
/* TÍTULO DE INTRODUCCIÓN */
#introduccion 
{
  background-color: #77871b; 
  padding-bottom: 6rem; 
}

#introduccion h2 {
  text-align: center;
}

/* ESPACIO REAL ENTRE TÍTULO Y CUADRO */
#introduccion .intro-content {
  margin-top: 7rem;
}

.video-box {
  background-color: #2e2f0f; 
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  padding-bottom: 4rem; 
}

.video-box h3 {
  color: #ffffff;
}

.video-box p {
  color: #e0e0e0;
  line-height: 1.6;
}


/* ===== CONTROLES ===== */
#controles-media {
  background-color: #ff0066;
}

/* CAJA CONTENEDORA */
.controls-box {
  background-color: #2e2f0f;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

/* ITEM INDIVIDUAL */
.control-item {
  text-align: center;
  display: flex;
  flex-direction: column; /* uno encima de otro */
  gap: 1rem;
}

/* IMAGEN */
.control-item img {
  width: 100%;
  aspect-ratio: 16 / 9;   /* misma proporción que el vídeo */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 2rem;    /* separación exacta entre imágenes */
}

/* SUBTÍTULO */
.control-item h4 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

/* TEXTO */
.control-item p {
  color: #e0e0e0;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* SUBTÍTULO */
.control-item h4 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

/* TEXTO */
.control-item p {
  color: #e0e0e0;
  font-size: 0.95rem;
}


/* ===== MINI WIKI ===== */
#mini-wiki {
  background-color: #444400;
}

/* ===== FOOTER ===== */
footer {
  background-color: #172322;
  text-align: center;
  padding: 3rem 0;
  color: #ffffff;
  font-size: 0.9rem;
}
